/aboutus.php
/adminPage.php
/cems.sql
/classes
/contact.php
/createEventForm.php
/deleteEvent.php
/events.php
/fonts
/images
/login_form.php
/readme.txt
/register.php
/RegisteredEvents.php
/Staff_cordinator.php
/Stu_cordinator.php
/Stu_details.php
/updateStaff.php
/updateStudent.php
/usn.php
/utils
/viewEvent.php